#App {
  background: red;
  width: 100vw;
  height: 100vh;
}

.img-div {
  position: absolute;
  right: 0;
  top: 200px;
  height: 200px;
  width: 355px;
}
.canvas-div {
  position: absolute;
  right: 0;
  top: 400px;
  height: 200px;
  width: 355px;
}

